<nav class="navbar navbar-expand navbar-dark bg-dark p-2 mb-3">

  <a class="navbar-brand d-flex align-items-center ms-2" routerLink="/categories">
    <img
      src="assets/images/logo.png"
      alt="TrioGlow"
      width="30"
      height="30"
      class="me-2 rounded"
    />
    <span class="fw-bold">TrioGlow</span>
  </a>

  <!-- le reste inchangé -->


  <div class="navbar-nav me-auto">

    <a class="nav-link" routerLink="/categories" routerLinkActive="active">
      📂 Catégories
    </a>

    <a class="nav-link" routerLink="/produits" routerLinkActive="active">
      🛍️ Produits
    </a>

    <a class="nav-link" routerLink="/panier" routerLinkActive="active">
      🛒 Panier
    </a>

    <!-- 👤 UTILISATEUR -->
    <a class="nav-link" *ngIf="isLoggedIn() && !isAdmin()" routerLink="/mes-commandes">
  📦 Mes commandes
</a>


    <!-- 👑 ADMIN -->
    <a
      class="nav-link"
      *ngIf="isAdmin()"
      routerLink="/commandes"
      routerLinkActive="active">
      📊 Commandes
    </a>

  </div>

  <!-- AUTH -->
  <div class="navbar-nav">

    <a
      class="nav-link"
      *ngIf="!isLoggedIn()"
      routerLink="/auth">
      🔐 Connexion
    </a>

    <a
      class="nav-link"
      *ngIf="!isLoggedIn()"
      routerLink="/register">
      ✍️ Inscription
    </a>

    <a
      class="nav-link text-warning"
      *ngIf="isLoggedIn()"
      (click)="logout()"
      style="cursor:pointer">
      🚪 Déconnexion
    </a>


    <a class="nav-link" *ngIf="isAdmin()" routerLink="/admin-dashboard">
  📊 Dashboard
    </a>


  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
