<div class="checkout-container d-flex flex-column justify-content-center align-items-center vh-100">

  <div class="card p-4 shadow-sm rounded checkout-card text-center">

    <h2 class="mb-4">🛒 Finaliser la commande</h2>

    <p class="mb-4">
      Vous devez vous connecter ou vous inscrire pour continuer.
    </p>

    <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
      <button class="btn btn-pink btn-lg" (click)="login()">Se connecter</button>
      <button class="btn btn-outline-pink btn-lg" (click)="register()">S’inscrire</button>
    </div>

  </div>
</div>
